In [1]:
# import libraries
import numpy as np

In [2]:
# create a list of numbers to compute the mean adn variance of
x = [1,2,4,6,5,4,0]
n = len(x)

# compute the mean
mean1 = np.mean(x)
mean2 = np.sum(x) / n

# print them
print(mean1)
print(mean2)

3.142857142857143
3.142857142857143

In [3]:
# variance

var1 = np.var(x)
var2 = (1/(n-1)) * np.sum((x-mean1)**2)

print(var1)
print(var2)

4.122448979591836
4.809523809523809

In [4]:
# uh oh!
var3 = np.var(x,ddof=1)

print(var3)
print(var2)

4.809523809523809
4.809523809523809

In [6]:
# does it matter for large N
N = 10000
x = np.random.randint(0, high=29,size=N)

var0 = np.var(x, ddof=0) # default
var1 = np.var(x, ddof=1) # unbiased

print(var0)
print(var1)

69.837644
69.84462846284627